<table class="tx-ajado-events" >
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.subtitle" />
		</td>
		<td>
			{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.start_date" />
		</td>
		<td>
			{event.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.end_date" />
		</td>
		<td>
			{event.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.start_time" />
		</td>
		<td>
			{event.startTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.end_time" />
		</td>
		<td>
			{event.endTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.location" />
		</td>
		<td>
			{event.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.location_address" />
		</td>
		<td>
			{event.locationAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.inhouse" />
		</td>
		<td>
			{event.inhouse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.additional_info" />
		</td>
		<td>
			{event.additionalInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.images" />
		</td>
		<td>
			{event.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.teaser_image" />
		</td>
		<td>
			{event.teaserImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.links" />
		</td>
		<td>
			{event.links}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.total_seats" />
		</td>
		<td>
			{event.totalSeats}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_event.reservation_deadline" />
		</td>
		<td>
			{event.reservationDeadline -> f:format.date()}
		</td>
	</tr>
</table>