<table class="tx-ajado-events" >
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_reservation.lastname" />
		</td>
		<td>
			{reservation.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_reservation.firstname" />
		</td>
		<td>
			{reservation.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_reservation.email" />
		</td>
		<td>
			{reservation.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajadoevents_domain_model_reservation.participants" />
		</td>
		<td>
			{reservation.participants}
		</td>
	</tr>
</table>